@media screen and (max-width: 768px) {
  body {
      margin-top: 75px;
      margin-bottom: 75px;
  }
  p {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -8px;
  }

  header {
    background-color: #d8d8d8;
    width: 480px;
    height: 75px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin: auto;
    box-sizing: border-box;
  }

  aside {
    background-color: #d8d8d8;
    width: 480px;
    height: 150px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin: auto;
    box-sizing: border-box;
  }

  section {
    background-color: #d8d8d8;
    width: 480px;
    height: 125px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 1px solid darkgray;
    margin: auto;
    box-sizing: border-box;
  }

  div {
    width: 480px;
    height: 500px;
    margin: auto;
  }

  div section {
    width: 50%;
    height: 250px;
    float: left;
  }

  div section:nth-child(odd) {
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
    border-right: none;
  }

  footer {
    background-color: #d8d8d8;
    width: 480px;
    height: 80px;
    margin: auto;
    border: 1px solid darkgray;
  }
}
